/* 기본 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* 변경: 수직 방향으로 배치 */
    height: 100vh;
    overflow: hidden;
}

/* 헤더 스타일 */
.head {
    background-color: #fff; /* 흰색 배경 */
    color: #000; /* 검은색 글자 */
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1000; /* 헤더를 다른 요소들 위에 배치 */
}

/* 헤더 링크 스타일 */
.head a {
    font-size: 30px;
    color: #000; /* 검은색 글자 */
    text-decoration: none;
    font-weight: bold;
}

/* 헤더 링크 호버 스타일 */
.head a:hover {
    text-decoration: underline;
}

/* 전체 컨테이너 설정 */
.container {
    display: flex;
    flex: 1;
    padding-top: 60px; /* 헤더 높이 만큼 패딩 추가 */
    box-sizing: border-box;
}

/* 그래프 영역 */
#chart-container {
    width: 70%; /* 그래프가 보일 영역의 너비 */
    height: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#coinChart {
    width: 100%; /* 캔들 차트의 실제 너비 */
    height: 50%; /* 차트 높이 조정 */
}

#volumeChart {
    width: 97.5%;
    height: 50%; /* 거래량 차트 높이 조정 */
}

/* 게임 제어 영역 */
.infoArea {
    width: 30%;
    padding: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

/* 상단 섹션 */
.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 게임 라운드 */
.roundInfo {
    font-size: 20px;
    font-weight: bold;
    color: #d9534f;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.roundInfo #turn {
    font-size: 30px;
    color: #d9534f;
}

.roundInfo #lastTurn {
    font-size: 16px;
    color: #888;
}

/* 진행 바 */
.progressBar {
    width: 100%;
    height: 3px;
    background-color: #e0e0e0;
    margin-top: 5px;
    position: relative;
    border-radius: 2px;
}

/* 진행 바 채움 */
.progressBarFill {
    width: 5%;
    height: 100%;
    background-color: #d9534f;
    border-radius: 2px;
}

/* 매매 버튼 */
.tradeButtons {
    display: flex;
    gap: 5px;
}

/* 메인 화면 매수 및 매도 버튼 */
.buyBtn, .sellBtn {
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.buyBtn {
    background-color: #f5a5a5; /* 연한 빨간색 */
}

.sellBtn {
    background-color: #a2c2e2; /* 연한 파란색 */
}

.nextBtn {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

/* 게임 상태 */
.gameStatus {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.gameStatus h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.gameStatus .initial-asset {
    font-size: 14px;
    margin-bottom: 10px;
}

.gameStatus .total-asset {
    font-size: 16px;
    margin-bottom: 10px;
}

.gameStatus .change {
    color: red;
    font-size: 14px;
}

.gameStatus table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.gameStatus th, .gameStatus td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.gameStatus th {
    font-weight: normal;
    color: #888;
    width: 50%;
}

.gameStatus td {
    font-weight: bold;
    width: 50%;
}

/* 매매내역 */
.tradeHistory {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    color: #888;
    font-size: 13px;
}

.tradeHistory p {
    margin: 0;
    padding: 5px 0;
    display: block;
}

/* buy, sell 모달 배경 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* buy, sell 컨텐츠 */
.content {
    background-color: #fff;
    margin: 10% auto; /* 수정: 위쪽 여백 조정 */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

/* 주문 */
.orderInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 퍼센트 버튼 */
.percentageButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.percentBtn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.percentBtn:hover {
    background-color: #ddd;
}

/* 주문단가 총 금액 */
.priceInfo {
    text-align: center;
    margin-bottom: 20px;
}

.price,
.totalPrice {
    font-weight: bold;
}

/* 매수 모달창 */
.actions {
    display: flex;
    justify-content: space-between;
}

/* 매수 모달창의 취소 버튼 */
.cancelBtn {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f8d7da; /* 연한 빨간색 */
    color: #721c24;
}

.cancelBtn:hover {
    opacity: 0.9;
}

/* 매수 모달창의 매수 버튼 */
.buyBtn {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d9534f; /* 빨간색 */
    color: #ffffff;
}

.buyBtn:hover {
    opacity: 0.9;
}

/* 매도 모달창 */
.cancelBtn1, .sellBtn {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* 매도 모달창의 취소 버튼 */
.cancelBtn1 {
    background-color: #d0e7ff; /* 연한 파란색 */
    color: #0056b3;
}

.cancelBtn1:hover {
    opacity: 0.9;
}

/* 매도 모달창의 매도 버튼 */
.sellBtn {
    background-color: #0056b3; /* 파란색 */
    color: #ffffff;
}

.sellBtn:hover {
    opacity: 0.9;
}

/* 닫기 버튼 */
.close, .close1 {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: red;
}

.close1:hover, .close1:focus {
    color: #0051ff;
}

/* 제목 */
.buyTitle {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.sellTitle {
    color: #0048ff;
    text-align: center;
    margin-bottom: 20px;
}

/* 매수 주문 가능 버튼 */
.orderAvailability .highlight {
    color: red;
    font-weight: bold;
}

.orderAvailability1 .highlight1 {
    color: #0048ff;
    font-weight: bold;
}